header {
  padding: 8px;
  height: 5vmax;
  background-color: #184599;
  color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
}

header i {
  margin-inline: 20px;
  display: flex;
}

a.brand {
  color: white;
  font-size: 2.2vmax;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: flex;
}

a.brand:hover {
  color: white;
}

a.category {
  color: white;
  font-size: 1rem;
  font-family: "Oxygen", sans-serif;
  margin-inline: 20px;
  text-decoration: none;
}

a:hover {
  color: #d4d4d4;
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}

.search {
  width: 20%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: thin;
  padding: 5px;
  height: 26px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchTerm:focus {
  color: #252525;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: thin;
  background: rgb(221, 217, 217);
  text-align: center;
  color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.speedDial {
  position: absolute;
  right: 1vmax;
  top: 1vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}
